@import "src/components/assets/variables";

$text-input-focus-color: $tertiary-background-color !default;
.muncher-text-input {
  height: 2rem;
  font-size: .9rem;
  @media (min-width: $medium-size) {
    width: 40rem;
  }
}

.muncher-text-input:focus {
  outline-color: $text-input-focus-color;
}
