@import "src/assets/variables";

$table-dark-background-color: rgba(234, 233, 227, 0.30) !default;

.muncher-table {
  > :nth-child(even) {
    background: $table-dark-background-color;
  }

  font-size: .8rem;

  .row {
    font-family: $sans-serif-font;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
    min-height: 3rem;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;

    .col {
      padding: 0 .2rem;

      .muncher-button {
        text-transform: none;
        white-space: normal;
        text-align: left;
      }
    }
  }

  .head {
    .sort-button {
      padding-left: 0;
      font-weight: bold;

      .muncher-icon {
        width: 1rem;
        height: 1rem;
        padding-left: .1rem;
      }
    }
  }

  .row-footer {
    font-family: $sans-serif-font;
    display: flex;
    flex-direction: column-reverse;
    @media(min-width: $medium-size) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }

    .pagination {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;

      .left, .center, .right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 .5rem;
      }

      .muncher-input--div {
        margin: 0 .5rem;
      }
    }
  }

}