@import "src/assets/variables";

$progress-color: $secondary-color !default;
$progress-value-color: $primary-color !default;
.muncher-progress {
  width: 30vw;
  margin: 1rem;
  display: inline-block;

  label {
    display: block;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
  }

  progress {
    display: block;
    height: .6rem;
    background: $progress-color;
    width: 100%;

  }

  progress::-webkit-progress-bar {
    background: $progress-color;

  }

  progress::-webkit-progress-value {
    background: $progress-value-color;
  }

}