@import "src/components/assets/variables";

$badge-background-color: $secondary-background-color !default;
.muncher-badge {
  color: $primary-color;
  background: $badge-background-color;
  border-radius: .5rem;
  padding: .5rem;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
