@import "src/assets/variables";
@import "../../assets/form";

$maintenance-section-background-color: $primary-background-color !default;
.section-maintenance {
  padding-top: 2em;
  text-align: center;
  background: $maintenance-section-background-color;

  .checkboxes {
    label {
      font-size: .8rem;
    }
  }

  .file-input {
    label {
      display: block;
    }
  }

}

