@import "src/assets/variables";

$slider-width: 30rem !default;
$slider-height: 20rem !default;
.muncher-item-slider {
  position: relative;

  .muncher-button--navigate {
    position: absolute;
    top: 40%;
    z-index: 100;

    .muncher-button {
      color: $secondary-background-color;
    }
  }

  .muncher-button--navigate-left {
    left: .1rem;
  }

  .muncher-button--navigate-right {
    right: .1rem;
  }

  .slider-container {
    width: $slider-width;
    height: $slider-height;
    position: relative;
    overflow: hidden;
  }

  .slider-item {
    position: absolute;
    transition: all 0.5s;
  }

}