@import "src/assets/variables";

$unit-card-color: $primary-background-color !default;
.unit-card {
  color: $unit-card-color;

  a {
    color: $unit-card-color;
  }

  position: relative;
  height: 16rem;
  width: 95vw;

  @media(min-width: $medium-size) {
    width: 20rem;
    height: 14rem;
  }
  @media(min-width: $large-size) {
    width: 25rem;
    height: 16rem;
  }
  @media(min-width: $extra-large-size) {
    width: 33rem;
    height: 18rem;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .muncher-badge {
    font-size: .8rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  .icon-tour {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  .icon-video {
    position: absolute;
    top: 3.5rem;
    left: 1.1rem;
  }

  .unit-card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      text-align: left;
    }

    .truncate {
      text-overflow: ellipsis;
      @media(min-width: $medium-size) {
        width: 10rem;
      }
      @media(min-width: $large-size) {
        width: 15rem;
      }
      @media(min-width: $extra-large-size) {
        width: 22rem;
      }
      width: 55vw;
      white-space: nowrap;
      overflow: hidden;
    }

    .left, .right {
      padding: 0 .5rem;
    }

  }
}