@import "src/assets/variables";

$card-slider-color: $primary-background-color !default;
$card-slider-background: $tertiary-background-color !default;
.card-slider {
  background: $card-slider-background;
  color: $card-slider-color;
  width: 90vw;

  .card-slider-footer {
    text-align: center;
    padding: .1rem;
    a {
      color: $card-slider-color;
    }

  }

  .card-slider-body {
    position: relative;

    .card-slider-image {
      width: 100%;
      height: 12rem;
      object-fit: cover;
    }

    .icon-left, .icon-right {
      position: absolute;
      top: 40%;
      cursor: pointer;
    }

    .icon-left:hover, .icon-right:hover {
      opacity: .6;
    }

    .icon-left {
      left: .1rem;
    }

    .icon-right {
      right: .1rem;
    }
  }

  @media(min-width: $medium-size) {
    width: 25vw;
    min-width: 25rem;
  }
}
