@import "src/components/assets/variables";

.muncher-item-slider {
  position: relative;
  width: 100%;
  overflow: hidden;

  .muncher-button--navigate {
    position: absolute;
    top: 45%;
    z-index: 100;

    .muncher-button {
      color: $secondary-background-color;
    }
  }

  .muncher-button--navigate-left {
    left: .1rem;
  }

  .muncher-button--navigate-right {
    right: .1rem;
  }

  .slider-container {
    display: flex;
  }

  .slider-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    transition: all 0.7s;
  }

}
