@import "src/components/assets/variables";

$dropdown-content-color: $primary-color !default;
$dropdown-content-background-color: $secondary-background-color !default;
.muncher-dropdown {
  position: relative;
  display: inline-block;

  .muncher-dropdown--content, .muncher-dropdown--nav {
    display: block;
    position: absolute;
    white-space: nowrap;
    background: $dropdown-content-background-color;
    min-width: 5rem;
    box-shadow: .5rem .5rem .6rem rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: .5rem;
    color: $dropdown-content-color;
    font-size: .8rem;

    .muncher-dropdown--close {
      text-align: right;
      cursor: pointer;
    }

    .muncher-dropdown--close:hover {
      opacity: .8;
    }

    div {
      padding: .1rem;
    }

  }

  .drop-left {
    right: 0;
    box-shadow: -.5rem .5rem .6rem rgba(0, 0, 0, 0.2);
  }

  .drop-right {
    left: 0;
  }
}
