@import "src/components/assets/variables";

$pill-color: $primary-color !default;

.muncher-pill {
  color: $pill-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .close {
    padding: .2rem;

    display: inline-block;
    //margin: 1rem .5rem;
    cursor: pointer;
  }

  .close:hover, .close:active {
    opacity: .6;
  }

  .content {
    display: inline-block;
    margin-right: .5rem;
    font-weight: bold;
  }
}
