@import "src/components/assets/variables";

$slider-color: $primary-color !default;
.muncher-slider {
  padding: .5rem;

  .rc-slider-track {
    background-color: $slider-color;
    margin: 0;
  }

  .rc-slider-handle {
    border: solid 2px $slider-color;
  }
}